<!--
  Generated template for the ConsejosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>


<ion-content>
    <ion-slides pager="true" effect="overflow">
        <ion-slide>
            <img src="../../assets/social-care.svg" class="slide-image"/>
            <h2>RELACIÓNATE CON UN ENTORNO SOCIAL DE APOYO</h2>
            <p>Rodeate de influencias positivas y de gente que te haga sentirte bien contigo mismo
              Escoje gente que te apoye y motive para cambiar tus hábitos de bebida
            </p>
         
        </ion-slide>
        <ion-slide>
            <img src="../../assets/quit-smoking.svg" class="slide-image">
          <h2>EVITE LAS MALAS INFLUENCIAS</h2>
          <p>Distanciate de la gente que es improbable que apoye tus esfuerzos por dejarlo y respete
            los limites que te has puesto. Esto implica quedar menos con cierto tipo de amigos.
          </p>
        </ion-slide>
        <ion-slide>
            <img src="../../assets/no-entry.svg" class="slide-image">
          <h2>PRACTICA EL DECIR "NO" O "YA TENGO BASTANTE"</h2>
          <p>Antes de asistir a cualquier acontecimiento social, decida cuánto quieres beber.
            Con un poco de práctica verás que cada vez es más facil decir "no, gracias" o "gracias, pero ya he bebido bastante"
          </p>
        </ion-slide>
        <ion-slide>
            <img src="../../assets/announcement.svg" class="slide-image">
          <h2>ANUNCIA TU OBJETIVO</h2>
          <p>Has saber a tus amigos, a tu familia y a tus compañeros que estás intentando dejar el alcohol
            o reducir su consumo. Si ellos beben, pideles que te ayuden y no te animen a acompañarles cuando beban. </p>
        </ion-slide>
      </ion-slides>
      
</ion-content>
