<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="assets/logo.svg" width="30px" height="30px">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>

<ion-header>

</ion-header>

<ion-content class="login-content" padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <img src="assets/group.svg"/>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <div class="login-box">
   
      <ion-row>
        <ion-col>
          <ion-list inset>
            
            <ion-item>
              <ion-input type="text" placeholder="Usuario" name="usuario" [(ngModel)] ="usuario"  required></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-input type="password" placeholder="Contraseña" name="contraseña" [(ngModel)] ="contra"  required></ion-input>
            </ion-item>
            
          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit" (click) = "loggearse()">Login</button>
         
        </ion-col>
      </ion-row>
      
  
  </div>
</ion-content>