<!--
  Generated template for the DetalleChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Mensajes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngFor="let mensaje of mensajes">
    <ion-grid>
      <ion-row>
        <ion-col col-6 *ngIf="mensaje.idu != 1">
          {{mensaje.mess}}
        </ion-col>
        <ion-col col-6 *ngIf="mensaje.idu != 1"></ion-col>
        <ion-col col-6 *ngIf="mensaje.idu == 1"></ion-col>
        <ion-col col-6 *ngIf="mensaje.idu == 1">
          {{mensaje.mess}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
    <ion-item>
      <ion-label floating>Mensaje</ion-label>
      <ion-input [(ngModel)]="mensaje" type="text"></ion-input>
    </ion-item>
    <ion-buttons>
      <button ion-button color="primary-dark" (click)="enviar()">Envíar</button>
    </ion-buttons>
</ion-content>