<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="primary-color">
      <ion-buttons start>
         
      </ion-buttons>
      <ion-title text-center>
          Mis mensajes
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <button ion-item *ngFor="let chat of chats; let i = index" navPush="DetalleChatPage" [navParams]="chat">
        <h2>Psicologo(a): </h2>
        <label>{{chats[i].nombre}}</label>
      </button>
  </ion-list>
</ion-content>

