<!--
  Generated template for the InicioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>Bienvenido(a): </ion-label>
  </ion-item>
  
  <img class="centrar" src="../../assets/IMG_20190702_162716.png">
  <ion-buttons>
    <button ion-button navPush="ChatPage" >Mensajes</button>
  </ion-buttons>
</ion-content>
