<!--
  Generated template for the ContactoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>



</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>¿Necesitas ayuda? Contacta a
      <br>nuestros especialistas</ion-label>
  </ion-item>
  <ion-item>
    ¡La ayuda es gratuita!
  </ion-item>

  <ion-card>
    <img src="assets/boss.svg" width="80px" height="150px"/>
    <ion-card-content>
      <ion-card-title>
        Psic. Adrian Rojas
      </ion-card-title>
      <p>
        Psicologó del Sistema DIF Municipal
      </p>
    </ion-card-content>

    <ion-item>
      <ion-icon name='call' item-start style="color: #1407d3"></ion-icon>
      Contactalo
      <ion-badge item-end>2312065506</ion-badge>
    </ion-item>
    <ion-item>
      <button ion-button [navPush]="chat">Chatear con el Psicologó</button>
    </ion-item>
</ion-card>


<ion-card>
    <img src="assets/girl.svg" width="80px" height="150px"/>
    <ion-card-content>
      <ion-card-title>
        Psic. Nerea Hernandez Gonzalez
      </ion-card-title>
      <p>
        Psicologa del Sistema DIF Municipal. Las asesorias que se brinda es gratuita.
      </p>
    </ion-card-content>

    <ion-item>
      <ion-icon name='call' item-start style="color: #1407d3"></ion-icon>
      Contactala
      <ion-badge item-end>3125883</ion-badge>
    </ion-item>
    <ion-item>
      <button ion-button [navPush]="chat">Chatear con la Psicologa</button>
    </ion-item>
</ion-card>
</ion-content>
