<ion-tabs color="tab">
    <ion-tab [root]="inicioRoot" tabTitle="Inicio" tabIcon="home"></ion-tab>
    <ion-tab [root]="consejosRoot" tabTitle="Consejos" tabIcon="mail"></ion-tab>
    <ion-tab [root]="contactoRoot" tabTitle="Contacto" tabIcon="call"></ion-tab>
</ion-tabs>
